body {
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.game-name {
    font-family: Tahoma;
    color: #dc2662;
    margin: 30px;
    font-size: 50px;
    filter: drop-shadow(0.5px 7px 5px #0100ec);
}

.levels {
    margin: 30px;
}

.levels * {
    background-color: #0a0c37ff;
    color: antiquewhite;
    font-family: Tahoma;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    font-size: 20px;

}

.beginner {
    border: 1px solid #0afb60;
    border-radius: 0% 20% 0% 20%;
}

.medium {
    border: 1px solid #f4ff61ff;
    border-radius: 20% 20% 20% 20%;
}

.expert {
    border: 1px solid #f22121;
    border-radius: 20% 0% 20% 0%;
}

.game-stats {
    margin: 30px;
}

.lives {
    display: inline;
    border: 1px solid #f4ff61ff;
    border-radius: 20% 20% 20% 20%;
    height: 50px;
    /* width: 75px; */
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.smiley {
    display: inline;
    font-size: 50px;
    box-shadow: none;
    border-radius: 20% 20% 20% 20%;
    height: 80px;
    width: 80px;
    text-align: center;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0);

}

.timer {
    color: #dc2662;
    display: inline;
    border: 1px solid #f4ff61ff;
    border-radius: 20% 20% 20% 20%;
    height: 50px;
    width: 75px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.board td {
    width: 30px;
    height: 30px;
    border: 1px solid #375971ff;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 20%;
}

.board td:hover {
    background-color: lightsalmon;
}

.occupied {
    background-color: rgb(92, 92, 92);
}

.cell {
    color: rgba(0, 255, 255, 0);
}

#true {
    color: black;
    background-color: rgb(113, 55, 90);
}

.footer {
    margin-top: 100px;
    background-color: rgb(128, 128, 185);
    height: 800px;
    bottom: 0px;

}

.breaking-heart {
    height: 100px;
    width: 100px;
    display: none;
    position: absolute;
    top: 70%;
    right: 46%;
    transition-duration: 2s;
    font-size: 50px;

}

.hints,
.safe-click {
    color: #dc2662;
    display: inline;

    border-radius: 20% 20% 20% 20%;
    height: 50px;
    width: 75px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.hint1,
.safe-click1 {
    background-color: rgba(255, 222, 173, 0);
    border: 1px solid rgb(255, 97, 250);
    margin: 6px;
}

.hint2,
.safe-click2 {
    background-color: rgba(255, 222, 173, 0);
    border: 1px solid rgb(255, 97, 250);
    margin: 6px;
}

.hint3,
.safe-click3 {
    background-color: rgba(255, 222, 173, 0);
    border: 1px solid rgb(255, 97, 250);
    margin: 6px;
}

#used {
    background-color: rgba(102, 24, 24, 0.424);
}

#mark {
    background-color: #0afb60;
}

.bast-score {
    color: #dc2662;
    display: inline;
    border: 1px solid rgb(255, 97, 250);
    border-radius: 20% 20% 20% 20%;
    height: 50px;
    width: 75px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}